html, body {
  background-color: #222;
  color:#eee;
  font-family: monospace;
  margin: 0;
  padding: 0;
}
/* The console container element */
#console {
  height: 90%;
  width: 100%;
  position:relative;
  background-color:rgba(0,0,0,0.5);
  border: none;
  margin: 0 auto;
  margin-top: 0px;
  transition: all 1.5s ease;
}
/* The matrix */
#waterfall {
    height: 100%;
    width: 100%;
    position:relative;
    border: none;
    margin: 0 auto;
    margin-top: 0px;
    visibility: hidden;
    transition: all 1.5s ease;
}
/* The audio widget */
#audioPlayer {
    visibility: hidden;
    background-color: rgba(255, 153, 102, 0.5);
    border-radius: 10px;
    padding: 20px;
    transition: all 1.5s ease;
}
/* The inner console element. */
.jqconsole {
    padding: 20px;
}
/* The cursor. */
.jqconsole-cursor {
	color: #eee;
  position:relative !important;
  background-color: white;
    transition: all 1.5s ease;
}
/* The cursor color when the console loses focus. */
.jqconsole-blurred .jqconsole-cursor {
    color:white;
    background-color: white;
    transition: all 1.5s ease;
}
/* The current prompt text color */
.jqconsole-prompt {
    transition: all 1.5s ease;
    color: #00DD00;
}
/* The command history */
.jqconsole-old-prompt {
    color: #00DD00;
    font-weight: normal;
    transition: all 1.5s ease;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #eee;
    transition: all 1.5s ease;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #858585;
    font-weight: normal;
    transition: all 1.5s ease;
}
/* The text color of the output. */
.jqconsole-output {
    color: #ff3333;
    transition: all 1.5s ease;
}
.hiddenelement {
    padding: 20px;
    display: none;
}
a{
  color:#5CD6D6;
}

/* Do a barrel roll. */
body.transform {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transition: all 2.0s ease;
}

/* Auto typing stuff. */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

#just-spacing{
    height: 5%;
    background:rgba(0, 0, 0, 0.5);
    border-radius:5px;
}

.type-wrap{
    height: 5%;
    padding-left:20px;
    background:rgba(0, 0, 0, 0.5);
    border-radius:5px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


